body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", Arial, Helvetica, sans-serif
}

.nav-elem {
	display: inline;
}

* {
	transition: background-color 200ms ease,
		opacity 200ms ease,
		color 100ms ease;
}